.profile-container {
    max-width: 60rem;
    margin-top: 40px;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 227, 227);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 2px 7px rgb(92, 92, 92);
}

.profile-container h3 {
    text-align: center;
    color: #1d3557;
    margin-bottom: 2rem;
}

.profile-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

.profile-container img {
    width: 18rem;
    border-radius: 50px;
}

.profile-data pre {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .profile-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1280px) {
    .profile-container img {
        width: 24rem;
    }
}