.setting {
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}
.setting-container{
    margin-top: 20px;
    background-color: rgb(228, 227, 227);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 2px 7px rgb(92, 92, 92);
    width: 30rem;
}

.setting-container h3 {
    text-align: center;
    color: #1d3557;
    margin-bottom: 20px;
}

.setting-container p {
    margin-bottom: 5px;
    margin-top: 1.5rem;
}

.setting-container input {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(122, 122, 122);
}

.setting-container button {
    padding: 0.5rem 1rem;
    width: 100%;
    color: white;
    background-color: #0f766e;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}