.navbar{
    width: 80%;
   margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 200px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #1d3557;
    border: 1px solid #e63946;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #cad8ec;
}
.navbar-right{
    position: relative;
}

.nav-login-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-right:hover .nav-login-dropdown{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.nav-login-dropdown button{
    cursor: pointer;
    padding: 7px 10px;
    background-color: #fff2ef;
    outline: 2px solid white;
    border-radius: 4px;
    color: #0f766e;
    border:none;
}