.admin-sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    background-color: #0f766e;
}
.admin-sidebar-options{
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.admin-sidebar-option{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    padding: 8px 10px;
    border-radius: 3px;
    color: white;
}
.admin-sidebar .active{
    background-color: #1d3557;
    border-color: #00AB66;
}


@media (max-width:1050px) {
    .admin-sidebar p{
        font-size: 15px;
    }
}
@media (max-width:900px) {
    .admin-sidebar p{
        display: none;
    }
}